{% extends 'base.html' %}

{% block content %}

<h1> login </h1>

{%if error%}
{{error}}
{%endif%}
<br/>
<br/>
<form method = "post" action = {% url 'account:login' %} >
	{%csrf_token%}

	{% if request.GET.next %}
	<input type = "hidden" name = "next" value = {{request.GET.next}}/>
	{% endif %}
	Username: <br/>
	<input type = "text" name = "username" />
	<br/>
	password:
	<br/>
	<input type = "password" name = "password1" />
	<br/>
	
	<br/>
	<input class = "btn btn-primary" type = "submit" value = "login" />

</form>

{% endblock %}